<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optic.curri" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon_qurier_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon_qurier_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="receivers.AcceptReceiver"
            android:enabled="true"/>
        <receiver android:name="receivers.CancelReceiver"
            android:enabled="true"/>

        <service android:name="services.MyFirebaseMessagingResi"
            >
            <intent-filter>

                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>


        </service>
        <activity android:name="activities.Resi.RequestCourierActivity" >
        </activity>
        <activity
            android:name="activities.Resi.DetailRequestActivity"
            android:parentActivityName="activities.Resi.MapResiActivity" />
        <activity android:name="activities.Curi.MapCuriActivity" />
        <activity android:name="activities.Resi.MapResiActivity" />
        <activity android:name="activities.Curi.RegisterCuriActivity" />
        <activity
            android:name="activities.LoginActivity"
            android:parentActivityName="activities.SelectOptionAuthActivity" />
        <activity
            android:name="activities.Resi.RegisterActivity"
            android:parentActivityName="activities.SelectOptionAuthActivity" />
        <activity
            android:name="activities.SelectOptionAuthActivity"
            android:parentActivityName="activities.MainActivity" />
        <activity android:name="activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>